/* Write your CSS here */
.thumbnail{
    width:215px;
    height: 150px;
    border-radius: 8px;
    cursor: pointer;
}
.popup-content{
    background-color: #ffffff;
    width: 750px;
    height: 460px;
    border-radius: 16px;
}
.close-button{
    align-self: flex-end;
    background-color: transparent;
    width: 28px;
    height:28px;
    border:none;
    margin-top: 18px;
    cursor: pointer;
    outline: none;
}
.movie-player-container{
    margin-right: 12px;
    margin-left:48px;
    margin-bottom: 48px;
    margin-top: 12px;
}